@page
@model DrexTeacherAndSubject.Web.Pages.Teachers.DeleteModel

@{
    ViewData["Title"] = "Delete Teacher";
}

<div class="container mt-5">
    <h1 class="display-4 text-center">Are you sure you want to permanently delete this Teacher?</h1>

    @if (Model.Item == null)
    {
        <h2>No record found</h2>
    }
    else
    {
        <form method="post">
            <!-- Teacher Details -->
            <div class="mb-3">
                <input type="hidden" asp-for="@Model.Item.Id" />
                <label for="Name" class="form-label">Teacher Name</label>
                <input type="text" class="form-control" id="Name" asp-for="@Model.Item.Name" disabled />
            </div>

            <div class="mb-3">
                <label for="Department" class="form-label">Department</label>
                <input type="text" class="form-control" id="Department" asp-for="@Model.Item.Department" disabled />
            </div>

            <div class="form-group">
                <a href="~/teachers" class="btn btn-success">Back</a>
                <button type="submit" class="btn btn-danger">Hard Delete</button>
            </div>
        </form>
    }
</div>
